<div #mapa class="mapa-container"></div>

<ul class="list-group">
    <li (click) = agregarMarcador()
        class="list-group-item list-group-item-info">
        + Agregar
    </li>
    <li (click) = irMarcador(marcador.marker!)
        (dblclick) = borrarMarcador(i)
        *ngFor="let marcador of marcadores; let i = index"
        [ngStyle] = "{
            'background-color': marcador.color
        }" 
        class="list-group-item list-group-item-info">
        marker {{ i + 1 }}
    </li>
</ul>