<div class="bg-dark border-right p-3" id="sidebar">

    <!-- Inicio titulo de Sidebar -->
    <h3 class="text-light">
      Gifs-App
    </h3>
    <!-- Fin titulo de Sidebar -->

    <hr class="text-white">

    <!-- Inicio últimas búsquedas -->
    <div class="list-group list-reset">

      <a  href="#" 
          class="list-group-item list-group-item-action" 
          *ngFor="let item of historial"
          (click)="buscar(item)"
          >
        {{item | titlecase}}
      </a>

    </div>
    <!-- Fin últimas búsquedas -->

  </div>
  